/white-noise-core/target/
**/nb-configuration.xml
white-noise-ios/WhiteNoiseCore/AudioGenerator.*
white-noise-ios/WhiteNoiseCore/WhiteNoiseGenerator.*

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Contact GitHub API Training Shop Blog About
white-noise-ios/WhiteNoiseCore/AudioPresenter.h
white-noise-ios/WhiteNoiseCore/AudioPresenter.m
white-noise-ios/WhiteNoiseCore/AudioView.h
white-noise-ios/WhiteNoiseCore/AudioView.m
white-noise-ios/WhiteNoiseCore/ClickHandler.h
white-noise-ios/WhiteNoiseCore/ClickHandler.m
white-noise-ios/WhiteNoiseCore/HandlerRegistration.h
white-noise-ios/WhiteNoiseCore/HandlerRegistration.m
white-noise-ios/WhiteNoiseCore/HasBuffer.h
white-noise-ios/WhiteNoiseCore/HasBuffer.m
white-noise-ios/WhiteNoiseCore/HasClickHandlers.h
white-noise-ios/WhiteNoiseCore/HasClickHandlers.m
white-noise-ios/WhiteNoiseCore/HasFloat.h
white-noise-ios/WhiteNoiseCore/HasFloat.m
white-noise-ios/WhiteNoiseCore/HasInterruptHandlers.h
white-noise-ios/WhiteNoiseCore/HasInterruptHandlers.m
white-noise-ios/WhiteNoiseCore/HasText.h
white-noise-ios/WhiteNoiseCore/HasText.m
white-noise-ios/WhiteNoiseCore/InterruptHandler.h
white-noise-ios/WhiteNoiseCore/InterruptHandler.m
white-noise-ios/WhiteNoiseCore/InterruptionEvent.h
white-noise-ios/WhiteNoiseCore/InterruptionEvent.m
white-noise-ios/WhiteNoiseCore/IosAudioView.swift
white-noise-ios/WhiteNoiseCore/PlayPauseEvent.h
white-noise-ios/WhiteNoiseCore/PlayPauseEvent.m
white-noise-ios/WhiteNoiseCore/Presenter.h
white-noise-ios/WhiteNoiseCore/Presenter.m
white-noise-ios/WhiteNoiseCore/View.h
white-noise-ios/WhiteNoiseCore/View.m

white-noise-android/*.iml
white-noise-android/.gradle
white-noise-android/local.properties
white-noise-android/.idea/workspace.xml
white-noise-android/.idea/libraries
white-noise-android/.DS_Store
white-noise-android/build
white-noise-android/captures
white-noise-android/.externalNativeBuild

