/white-noise-core/target/
**/nb-configuration.xml
white-noise-ios/WhiteNoiseCore/AudioGenerator.*
white-noise-ios/WhiteNoiseCore/WhiteNoiseGenerator.*

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Contact GitHub API Training Shop Blog About
