
J2OBJC_HOME = /Users/kguthrie/Applications/j2objc-2.0.1

HEADER_SEARCH_PATHS = ${J2OBJC_HOME}/frameworks/JRE.framework/Headers ${J2OBJC_HOME}/frameworks/Guava.framework/Headers ${J2OBJC_HOME}/frameworks/JSR305.framework/Headers;

FRAMEWORK_SEARCH_PATHS = "${J2OBJC_HOME}/frameworks";
LIBRARY_SEARCH_PATHS = "${J2OBJC_HOME}/lib";
OTHER_LDFLAGS = -l"iconv";
